body {
    font-family: 'Arial', sans-serif;
    background-color: #0d0d0d;
    color: #b3b3b3;
}

/* Fullscreen Header */
.full-screen {
    height: 100vh;
    background: #13021b;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.full-screen > h1, .full-screen > p{
    color: #6CD4FF;
}

/* Animações */
.animate-text {
    animation: text-zoom 1.5s ease-in-out infinite alternate;
}

@keyframes text-zoom {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}

.animate-pulse {
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    from { opacity: 1; }
    to { opacity: 0.8; }
}

.animate-pop {
    animation: pop 0.4s ease-in-out;
}

@keyframes pop {
    0% { transform: scale(0.9); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

/* Títulos */
h2 {
    font-weight: bold;
    font-size: 2em;
    color: #6CD4FF;
}

h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #bebebe;
    margin: 0.5em auto;
}

/* Cards */
.card {
    background-color: #1a1a1a;
    border: 1px solid #333333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    color: #999999;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.05);
}

/* Botão */
.btn-outline-light {
    border: 2px solid #6CD4FF;
    color: #6CD4FF;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-light:hover {
    background-color: #beebff41;
    color: #56ccff;
    border: 2px solid #6CD4FF;
}

.btn-outline-light:active {
    background-color: #beebff41;
    color: #56ccff;
    border: 2px solid #6CD4FF;
}


/* Footer */
footer {
    font-size: 0.9em;
    background-color: #0f0216;
    color: #666666;
}

footer > p{
    color: #6CD4FF;
}

#experiencia {
    background-color: #100118;
    padding: 3rem 0; /* Reduzido */
}

/* Tamanho das Imagens */
.img-size {
    height: 250px; /* Reduzido */
    object-fit: cover; /* Para manter a proporção */
}

.navbar{
    font-size: 20px;
    height: 80px;
    background-color: #14021d;
    
}
.nav-link, .navbar-brand{
    color: #6CD4FF;
}

.nav-link:hover, .navbar-brand:hover{
    color: #2884ac;
}

.certificados{
    background-color: #14021d;
}

.card-body > h5{
    color: #56ccff;
}